 #banner {
     /* border: 1px solid #ccc;*/
     height: 653px;
     margin-top: 40px;
     position: relative;
 }
 
 #banner>.social {
     height: 100%;
     width: 1px;
     float: right;
     background-color: #ccc;
     position: absolute;
     top: 0;
     right: 5%;
 }
 
 #banner>#holder {
     /* border: 1px solid blue;*/
     height: 100%;
     width: 1500px;
     margin: auto;
     position: relative;
 }
 
 #banner>#holder>.tab {
     width: 100%;
     position: absolute;
     height: 100%;
     /*border: 1px solid brown;*/
     top: 0;
     right: 0;
     transition: 0.5s;
 }
 
 #banner>#holder>.tab1 {
     background: url("../pic/banner/slide1.jpg") no-repeat;
     background-size: 100% 100%;
     opacity: 1;
     visibility: visible;
 }
 
 #banner>#holder>.tab2 {
     background: url("../pic/banner/slide2.jpg") no-repeat;
     background-size: 100% 100%;
     opacity: 0;
     visibility: hidden;
 }
 
 #banner>#holder>.tab3 {
     background: url("../pic/banner/slide3.jpg") no-repeat;
     background-size: 100% 100%;
     opacity: 0;
     visibility: hidden;
 }
 
 #banner>#holder>.tab>.khat {
     border: 2px solid #f6516a;
     width: 80px;
     margin: 210px auto 30px auto;
 }
 
 #banner>#holder>.tab>.matn {
     width: 500px;
     margin: 10px auto;
     text-align: center;
     font-family: ir;
     font-size: 21px;
     color: #151515;
 }
 
 #banner>#holder>.tab>.title {
     width: 500px;
     margin: 10px auto;
     text-align: center;
     font-family: ir;
     font-size: 40px;
     font-weight: 600;
     color: #151515;
 }
 
 #banner>#holder>.tab>.vaqt {
     width: 260px;
     height: 55px;
     margin: 30px auto;
     background-color: white;
     text-align: center;
     font-family: ir;
     font-size: 18px;
     color: #151515;
     line-height: 54px;
     position: relative;
     overflow: hidden;
 }
 
 #banner>#holder>.tab>.vaqt:hover>.rang {
     transition: 0.2s;
     cursor: pointer;
     z-index: 100;
     width: 100%;
     right: 0;
     color: #ffffff;
 }
 
 #banner>#holder>.tab>.vaqt>.rang {
     position: absolute;
     top: 0;
     right: 37%;
     height: 100%;
     width: 26%;
     background-color: #f6516a;
     color: #151515;
     z-index: -10;
     transition: 0.2s;
 }
 
 #banner>.social>.media {
     height: 153px;
     width: 32px;
     padding: 0;
     margin: 0;
     background-color: white;
     /*border: 1px solid green;*/
     list-style: none;
     position: absolute;
     top: 37%;
     left: -16px;
 }
 
 #banner>.social>.media>.icon:hover {
     cursor: pointer;
     transition: 0.2s;
 }
 
 #banner>.social>.media>.icon {
     width: 32px;
     height: 32px;
     margin: 14px 0;
     /* border: 1px solid red;*/
     padding: 0;
     background-size: 32px;
     background-repeat: no-repeat;
     border-radius: 50%;
     transition: 0.2s;
 }
 
 #banner>.social>.media>.ic1:hover {
     background-image: url("../pic/banner/fs.png");
 }
 
 #banner>.social>.media>.ic1 {
     background-image: url("../pic/banner/ff.png");
 }
 
 #banner>.social>.media>.ic2:hover {
     background-image: url("../pic/banner/is.png");
 }
 
 #banner>.social>.media>.ic2 {
     background-image: url("../pic/banner/if.png");
     background-size: 28px;
     background-position: 2px 2px;
 }
 
 #banner>.social>.media>.ic3:hover {
     background-image: url("../pic/banner/ts.png");
 }
 
 #banner>.social>.media>.ic3 {
     background-image: url("../pic/banner/tf.png");
     background-size: 34px;
     background-position-x: -2px;
     margin-top: -2px;
 }
 
 #banner>.switch {
     position: absolute;
     left: 0;
     top: 33%;
     width: 100px;
     height: 200px;
     /*border: 1px solid red;*/
     direction: ltr;
 }
 
 #banner>.switch>div:hover {
     cursor: pointer;
     transition: 0.5s;
     width: 98%;
     border-bottom: 3px solid #f6516a;
     color: #f6516a;
 }
 
 #banner>.switch>div {
     width: 60%;
     height: 50px;
     border-bottom: 3px solid #dcefd2;
     color: #cfcfcf;
     text-align: right;
     font-family: ir;
     font-size: 30px;
     line-height: 76px;
     transition: 0.5s;
     margin-bottom: 18px;
 }
 
 #banner>.switch>.on {
     border-bottom: 3px solid #f6516a;
     color: #f6516a;
     width: 98%;
 }